

:root{
  --default-padding: 10px;
  --default-border: 1px solid #d3d3d3;
  --default-color: #6e6e6e;
}
/* //override default text selection color */
::selection { background: var(--default-color); color:white;/* WebKit/Blink Browsers */ }
::-moz-selection { background: var(--default-color); color:white;/* Gecko Browsers */ }


body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing:border-box;
  color: var(--default-color);
/* //makes text unselectable: */
  /* user-select: none; */

}

table{
  border-collapse: collapse;
}

.calendar {
  display: none;
}

.calendar.active {
  display: block;
  width:230px;
  background-color: white;
  border: var(--default-border);
  padding: var(--default-padding);
}

/* //change year section */
.calendar-header {
  display: flex;
  justify-content: space-between;
  /* border: var(--default-border);
  border-bottom: none; */
}

.calendar-header .yearandmonth {
  display:flex;
  cursor: pointer;
  align-items:center;
  color:var(--default-color);
}

.calendar-header .year{
  padding: 0 5px;
}
.calendar-header .month{
  padding: 0 5px;
}

.calendar-header .arrow{
  cursor: pointer;
  padding: 5px var(--default-padding);
  user-select: none;
}


/* //day view */
.calendar-dayview{
  display: flex;
  flex-direction: column;
  padding:0px;
}

/* //days of the week */
.calendar-daysofweek{
  font-size: .8em;
  display: table;
}
.calendar-daysofweek th{
  width: 30px;
  height: 25px;
  padding: 0px;
  box-sizing:border-box;
  cursor: default;
  user-select: none;
}

/* //days of month */
.calendar-daysofmonth{
  display: table;
}

.calendar-daysofmonth td{
  width: 30px;
  height: 25px;
  padding: 0px;
  border: var(--default-border);
  box-sizing: content-box;
  color: var(--default-color);
}

.calendar-daysofmonth .day{
  text-align:center;
  cursor: pointer;
  padding: 0px;
  width:100%;
  height:100%;
  box-sizing: border-box;
}
.calendar-daysofmonth .day:hover{
  background-color:rgba(0,0,0,.2);
  color: white;
}

.calendar-daysofmonth .day.active{
  background-color: rgba(0,0,0,.3);
  color: white;
}

/* //monthly view */
.calendar-monthview{
  display:none;
}

.calendar-monthview.active{
  display:block;
}

/* yearly view */
.calendar-yearview{
  display:none;
}
.calendar-yearview.active{
  display:block;
}